
@import url("../../styles/normalize.css");
@import url("../../styles/default.css");
@import url("../form-home/form_home.css");

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
  display: none;
}

.schedule-form {
  min-width: 300px;
  max-width: 400px;
  width: 50%;
  margin-top: 24px;
}

.schedule-form form {
  width: 100%;
  background: linear-gradient(to right, rgba(63,255,246,1) 25%,
    transparent);
  border-radius: 3px 0 0 3px;
}

.schedule-form ol {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.schedule-form li {
  height: 100%;
}

.schedule-form label {
  display: block;
  width: 100%;
  float: left;
  margin: 12px 0 4px;
  padding: 6px;
  color: rgba(45,15,40,.75);
  text-shadow: 0 0 2px rgba(128,245,255,1);
}
.schedule-form input:not([type=checkbox]), 
.schedule-form select,
.message textarea {
  height: 32px;
  float: left;
  padding-left: 6px;
  background: rgba(255,125,236,.20);
  box-shadow: inset 0 0 2px rgba(255,125,236,.50);
}

/********HEADING********/

.schedule-form .heading {
  margin-bottom: 12px;
  border-top-left-radius: 3px;
}
.schedule-form .heading h1 {
  margin: 0;
  padding: 12px 0;
}

.schedule-form fieldset, .heading {
  width: 100%;
  margin-bottom: 12px;
  margin-top: 0;
  margin-left: 0;
  background: rgba(63,255,246,1);
  border-radius: 0 3px 3px 0;
}

/********DATE SECTION********/

.date .all-day {
  position: relative;
}

.schedule-form .date input[type=checkbox] {
  z-index: 100;
  height: 32px;
  margin-top: 12px;
  width: 1.25rem;
  opacity: 0;
}

.date input[type=checkbox] + label::after {
  font-family: 'Material Icons';
  content: 'check_box_outline_blank';
  -webkit-font-feature-settings: 'liga';
  position: absolute;
  top: 1.12rem;
  right: 10.6rem;
  font-size: 1.2rem;
  color: rgba(45,15,40,.65);
}

.date input[type=checkbox] + label::after:hover {
  cursor: pointer;
}

.date input[type=checkbox]:checked + label::after {
  font-family: 'Material Icons';
  content: 'check_box';
  -webkit-font-feature-settings: 'liga';
  position: absolute;
  top: 1.12rem;
  right: 10.6rem;
  font-size: 1.2rem;
  color: rgba(45,15,40,.65);
}
.date li label {
  width: 50%;
}

.date h4 {
  display: block;
  float: left;
  margin: 0;
  margin-top: 12px;
  padding: 6px 0 0 96px;
  width: 100%;
  height: 32px;
  font-weight: lighter;
  color: rgba(45,15,40,.6);
}

.date input[type=date]::-webkit-datetime-edit-text,
.date input[type=date]::-webkit-datetime-edit-month-field,
.date input[type=date]::-webkit-datetime-edit-day-field,
.date input[type=date]::-webkit-datetime-edit-year-field {
  color: rgba(45,15,40,.35);
}
.date input[type=date]::-webkit-inner-spin-button {
  display: none; 
}
.date input[type=date]::-webkit-calendar-picker-indicator  {
  margin-right: 1px;
  color: rgba(45,15,40,.35);
}

.date input[type=time]::-webkit-datetime-edit-text {
  padding: 6px;
  font-size: .8rem;
}
.date input[type=time]::-webkit-datetime-edit-text,
.date input[type=time]::-webkit-datetime-edit-ampm-field,
.date input[type=time]::-webkit-datetime-edit-hour-field,
.date input[type=time]::-webkit-datetime-edit-minute-field,
.date input[type=time]::-webkit-datetime-edit-second-field {
  color: rgba(45,15,40,.35);
}
.date .from li,
.date .to li {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  margin: 0;
}

.date .from li label,
.date .to li label {
  width: 100%;
  margin: 0;
}

.date .from li input,
.date .to li input {
  width: 100%;
}
.schedule-form .date select {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
}

/*MESSAGE SECTION*/

.schedule-form .message .message-style {
  -moz-appearance: none;
  width: 100%;
  /*min-height: 32px;*/
  border: 0;
  background: rgba(255,125,236,.20);
  resize: none;
  padding: 8px 0 0 6px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/*CONTACT SECTION*/

.schedule-form .contact {
  border-radius: 0 3px 3px 3px;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(127,127,127,.5);
}
.schedule-form .contact input {
  width: 100%;
}

/*******BUTTON********/

button {
  width: 100%;
  height: 32px;
  padding-top: 2px;
  margin-top: 12px;
  border: none;
  box-shadow: 0 0 1px grey;
  font-size: 1.125em;
  color: white;
  text-shadow: 0 0 1px black;
  background: rgba(127,101,127, .75);
  border-radius: 2px;
  -webkit-transition: background .5s, color .25s;
          transition: background .5s, color .25s;
}

/********ACTIVE STATES********/ 

.schedule-form input:focus, .date select:focus, .message textarea:focus {
  border: 1px solid rgba(127,101,127, .75);
}

button:hover {
  cursor: pointer;
  background: rgba(255,125,236,.60);
  color: white;
}
button:focus {
  background: rgba(255,125,236,.60);
  color: white;
}

/********Styles for expending textarea*/

/*.schedule-form .txt-stuff {
  resize: none;
  overflow: hidden;
}*/

.schedule-form .hidden-div {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.schedule-form .lbr {
  line-height: 3px;
}