@import url("../styles/normalize.css");
@import url("../styles/default.css");

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.products_page {
  position: relative;
  width: 100%;
  margin-top: 12px;
  background: linear-gradient(to top, rgba(252,252,255,.65),
    rgba(252,252,255,.85));
}

/********Products********/

.products {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: scroll;
  float: left;
  padding: 0 1% 4% 1%;
}

.products article {
  width: 100%;
  margin-bottom: 12px;
}

figure {
  margin: 0;
}
img {
  width: 100%;
  display: block;
}
figcaption {
  font-size: 1em;
}

span {
  display: block;
}

article p {
  display: block;
  height: 1rem;
  margin-bottom: 0
}

.price {
  float: left;
}
.stock {
  float: right;
  padding-right: 12px;
  /*color: yellow;*/
}

.bottom_bar {
  display: inline-block;
  width: 100%;
  height: 6px;
  margin-top: 0;
  background: linear-gradient(to right, rgba(54,64,63,.15), rgba(54,64,63,.54));
}


/********Shopping Cart Side Bar********/

.basket_wrapper {
  position: absolute;
  top: -1.5px;
  right: 0;

}

.basket {
  width: 200px;
  position: fixed;
  /*float: right;*/
  /*margin-top: 0;*/
  margin-left: -200px;
  z-index: 2;

  color: rgba(45,60,69,.86);
  background: linear-gradient( to left ,
    rgba(165,222,255,1), rgba(165,222,255,.90));
  border-top: 1px solid rgba(45,60,69,.26);
  border-bottom: 1px solid rgba(45,60,69,.26);
  border-right: 1px solid rgba(45,60,69,.26);
}

.basket h3 {
  margin: 0;
  padding: 0;
  float: right;
  text-align: right;
  margin: 0;
  padding: 5px 4px 0 0;
}

.basket .purchase_number {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  float: left;
  background: rgba(45,60,69,.86);
  color: #fff;
  text-align: center;
  margin: 5px 0 0 6px;
  padding-top: -2px;
}

.basket li ol {
  display: none;
}

.basket li:hover ol {
  display: block;
}
.basket .price,
.basket input[type="button"],
.basket .total_price {
  padding-right: 2px;
}
.basket .product_caption,
.basket .price {
  margin-top: 6px;
}
.basket .product_caption {
  float: left;
  width: 56%;
  font-size: .9em;
  /*margin-top: 3px;*/
}
.basket .price {
  float: right;
  width: 44%;
  text-align: right;
}

.basket .amount,
.basket input[type="button"] {
  height: 24px;
  margin-top: 6px;
}
.basket .amount {
  float: left;
  width: 36px;
  max-width: 30%;
  text-align: center;
  border-style: none;
  background: rgba(165,222,255,1);
  border-top: 1px solid rgba(45,60,69,.26);
  border-right: 1px solid rgba(45,60,69,.26);
  border-bottom: 1px solid rgba(45,60,69,.26);
}

.basket input[type="button"] {
  float: right;
  width: 70%;
  border-style: none;
  background: none;
  text-align: right;
}


.basket .product_caption,
.total_text {
  padding-left: 2px;
}
.basket .total  {

}

.basket .total_text {
  float: left;
  width: 30%;
}

.basket .total_price {
  float: right;
  width: 70%;
  text-align: right;
}

.basket button {
  width: 100%;
  float: right;
  text-align: right;
  background: none;
  padding: 8px 2px;
}

/********MEDIA QUERIES********/

/*@media screen and (min-width: 401px) {
  .basket {
    top: 198px;
  }
}

@media screen and (min-width: 980px) {
  .basket {
    right: 0;
    left: 0;
  }
}
*/
