@import url("../styles/normalize.css");
@import url("../styles/default.css");

.clearfix {
  content: " ";
  display: table;
  clear: both;
}

.sidebar-page {
  margin: 0 auto 24px;
}

.profiles-main {
  background: linear-gradient(to top, rgba(138,223,255,.25), rgba(93,200,237,.45));
  box-shadow: -2px 0 2px 1px rgba(43,87,115,.50), 1px 0 1px rgba(43,87,115,.45);
  border: 3px solid rgba(9,135,178,.25);
  border-radius: 3px;
  width: 100%;
  max-width: 312px;
  margin: 0 auto;
}
.profiles-main .imgbox {
  width: 100%;
  /*min-width: 312px;*/
  padding: 12px 4px;
  border-top: 3px solid rgba(9,135,178,.25);
  border-bottom: 3px solid rgba(9,135,178,.25);
}
.profiles-main img {
  display: block;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(43,87,115,1);

}

.profiles-main h1,
.profiles-main h2 {
  text-shadow: 0 0 1px white;
}
.profiles-main h1 {
  text-align: left;
  margin: 12px 0 0 12px;
  /*padding-left: 8px;*/
  width: 10%;
  line-height: 1.125em;
}
.profiles-main h1 a {
  color: rgb(173,97,139);
}
.firstname, .lastname {
  display: inline-block;
}
.firstname::first-letter, .lastname::first-letter {
  color: rgb(117,95,116);
  font-size: 1.135em;
}
.profiles-main h1 a:hover {
  background: none;
}
.profiles-main h2 {
  text-align: center;
  color: rgb(173,97,139);
  text-shadow: 0 0 1px white;
  margin-bottom: 0;
}

.profiles-main p {
  text-align: left;
  padding: 0 6px;
  color: rgb(51,87,107);
}
.profileback {
  display: block;
  position: relative;
  width: 124px;
  float: right;
  margin: 0 12px 12px 0;
  color: rgb(117,95,116);
  font-size: 1.025em;
}
.profileback:before {
  content: '⇠';
  position: absolute;
  top: -2px;
  left: -24px;
  font-size: 1.25em;
}
a.profileback:hover {
  background: none;
  cursor: pointer;
  color: rgb(237,119,131);
}
