@import url("../../styles/normalize.css");
@import url("../../styles/default.css");
@import url("../form-home/form_home.css");

/*******Form Styles*******/

.sidebar {
  display: none;
}

.search-form {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 12px 6px 175px;
  background: rgba(240,240,255,.45);
}

.search-form h1 {
  margin-bottom: 12px;
}
.search-form p {
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 0 auto 24px;
  padding: 12px;
  line-height: 1.1rem;
  color: #2C4F54;
  background: linear-gradient(to bottom, rgba(171,173,178,.25), rgba(171,173,178,.35));
}

.search-form form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 12px;
  display: block;
  background: linear-gradient(to bottom, rgba(171,173,178,.25), rgba(171,173,178,.35));
}

.search-form form > label {
  text-align: center;
  display: block;
}

.search-wrapper {
  width: 100%;
}

.search-container {
  height: 36px;
  width: 100%;
  margin-bottom: 24px;
}

.search-container .search {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  box-shadow: 0 0 1px rgba(196,17,86,.5);
  border-radius: 3px;
  background: rgba(255,155,245,1);
  color: rgba(55,30,64,1);
  -webkit-transition: background .5s, color .5s;
          transition: background .5s, color .5s;
}

.search:hover {
  background: rgba(118,199,245,1);
  box-shadow: 0 0 1px rgba(17,47,66,1);
}

.search:hover::-webkit-input-placeholder {
  text-shadow: 0 0 1px rgba(55,30,64,1);
  color: rgba(18,235,200,1);
  opacity: 1;
}

/*********Meal time Styles*********/

.mealtimes-container {
  width: 24%;
  margin-right: 1%;
}
.mealtimes-wrapper {

}

.mealtimes-wrapper li {
  display: block;
  height: 36px;
  width: 100%;
  margin: 3px 0;
}

.mealtimes-wrapper li label {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  padding-top: 8px;
  color: rgba(55,30,64,1);
  background: rgba(255,155,245,1);
  box-shadow: 0 0 1px rgba(196,17,86,.5);
  text-shadow: 0 0 1px white;
  -webkit-transition: background .5s, color .25s;
          transition: background .5s, color .25s;

}
.mealtimes-wrapper li label:hover,
.mealtimes-wrapper li label:focus {
  cursor: pointer;
  background: rgba(118,199,245,1);
  box-shadow: 0 0 2px rgba(17,47,66,1);
  text-shadow: 0 0 1px white;
  color: rgba(55,30,64,1);
}

.mealtimes-wrapper li input[type=radio] {
  display: none;
}

/*******Region Styles*****/

.regions-container {
  width: 74%;
  margin-left: 1%;
}

.regions-wrapper li.init {
  display: block;
  margin: 3px 0;
  padding-top: 8px;
  height: 36px;
  width: 38%;
  border-radius: 3px;
  text-align: center;
  color: rgba(55,30,64,1);
  background: rgba(255,155,245,1);
  box-shadow: 0 0 1px rgba(196,17,86,.5);
  text-shadow: 0 0 1px white;
  -webkit-transition: background .5s, color .25s;
          transition: background .5s, color .25s;
}

.regions-wrapper li.init > ol {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 3px;
  padding: 0;
  height: 270px;
  width: 56%;
  overflow: auto;
  border-radius: 3px;
  -webkit-transition: width 0.3s ease-in, visibility .05s ease-out;
          transition: width 0.3s ease-in, visibility .05s ease-out;
}

.regions-wrapper li.init:hover>ol{
  visibility: visible;
  width: 62%;
}

.regions-wrapper li.init:hover,
.regions-wrapper li:not(.init):hover {
  cursor: pointer;
  background: rgba(118,199,245,1);
  box-shadow: 0 0 2px rgba(17,47,66,1);
  text-shadow: 0 0 1px white;
  color: rgba(55,30,64,1);
}

.regions-wrapper li:not(.init) {
  height: 36px;
  width: 98%;
  margin: 0 0 3px 2%;
  padding-top: 8px;
  background: #F04593;
  color: rgba(18,235,200,1);
  box-shadow: 0 0 1px rgba(17,47,66,1);
  text-shadow: 0 0 rgba(18,235,200,1);
  border-radius: 3px;
  -webkit-transition: background .5s, color .25s;
          transition: background .5s, color .25s;
}


/*******Shared Meal and Region Styles********/

.mealtimes-container, .regions-container {
  position: relative;
  display: block;
  float: left;
  height: 36px;
  text-align: center;
}


.mealtimes-container>h1,
.regions-container>h1 {
  height: 100%;
  width: 100%;
  margin-top: 0;
  padding-top: 8px;
  font-size: 1rem;
  background: rgba(118,199,245,1);
  box-shadow: 0 0 2px rgba(17,47,66,1);
  text-shadow: 0 0 1px white;
  font-weight: lighter;
  color: rgba(55,30,64,1);
  border-radius: 3px;
  -webkit-transition: background .5s, color .25s;
          transition: background .5s, color .25s;
}

.mealtimes-container:hover h1,
/*.mealtimes-container:focus h1,*/
.regions-container:hover h1
/*.regions-container:focus h1 */ {
  cursor: pointer;
  background: #F04593;
  box-shadow: 0 0 2px rgba(17,47,66,1);
  text-shadow: 0 0 1px rgba(55,30,64,1);
  color: rgba(18,235,200,1);
}

.regions-wrapper,
.mealtimes-wrapper {
  position: absolute;
  visibility: hidden;
  top: 18px;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: top 0.15s ease-in-out;
          transition: top 0.15s ease-in-out;
}

/*******Show Hidden Meal and Region content*******/

.mealtimes-container:hover .mealtimes-wrapper,
.regions-container:hover .regions-wrapper {
  top: 36px;
  visibility: visible;
}



input[type=submit] {
  width: 100%;
  height: 36px;
  display: block;
  float: right;
  margin-top: 48px;
  border-radius: 3px;
  background: #F04593;
  box-shadow: 0 0 1px rgba(17,47,66,1);
  text-shadow: 0 0 1px rgba(55,30,64,1);
  color: rgba(18,235,200,1);
  -webkit-transition: background .5s, color .25s;
          transition: background .5s, color .25s;
}
input[type=submit]:hover,
input[type=submit]:focus {
  box-shadow: 0 0 1px rgba(196,17,86,.5);
  background: rgba(255,155,245,1);
  color: rgba(18,235,200,1);
  border: 1px solid rgba(18,235,200,1);
  cursor: pointer;
}

/*Styles associated with .meal and .region click events.*/
.regions-wrapper li:not(.init).active,
.mealtimes-wrapper li label.active,
.mealtimes-container>h1.active,
.regions-container>h1.active {
  color: #FF926C;
  text-shadow: none;
  border: 1px solid rgba(18,235,200,1);
}

/*Styles associated with form validation upon submit event.*/

.error-banner {
  max-width: 400px;
  width: 100%;
  margin: 0 auto 12px;
  padding: 8px 0;
  text-align: center;
  background: linear-gradient(to bottom, rgba(171,173,178,.25), rgba(171,173,178,.35));
  color: rgba(18,235,200,1);
  text-shadow: 0 0 1px grey;
  box-shadow: 0 0 1px rgba(196,17,86,.5);
  border: 1px solid rgba(18,235,200,1);
  border-radius: 3px;
}

.error-banner em {
  color: rgba(255,155,245,1);
  margin-right: 4px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 400px) {
  .search-form {
    width: 95%;
    padding-bottom: 12px;
  }
  .search-form p {
    width: 90%;
  }

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
