@import url("../../styles/normalize.css");
@import url("../../styles/default.css");
@import url("../form-home/form_home.css");

/*******Form Styles*******/


.sidebar {
  display: none;
}

.searchForm {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 12px 6px 24px;
  background: rgba(240,240,255,.45);
}

.searchForm h1 {
  margin-bottom: 12px;
}
.searchForm p {
  width: 60%;
  text-align: center;
  margin: 0 auto 24px;
  line-height: 1.1rem;
}

.searchForm form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 12px;
  display: block;
  background: linear-gradient(to bottom, rgba(171,173,178,.25), rgba(171,173,178,.35));
}

.searchForm form > label {
  text-align: center;
  display: block;
}

.search-wrapper {
  width: 100%;
}

.search-container {
  height: 36px;
  width: 100%;
  margin-bottom: 24px;
}

.search-container .search {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  box-shadow: 0 0 1px rgba(196,17,86,.5);
  border-radius: 3px;
  background: rgba(255,155,245,1);
  color: rgba(55,30,64,1);
  -webkit-transition: background .5s, color .5s;
          transition: background .5s, color .5s;
}

.search:hover {
  background: rgba(118,199,245,1);
  box-shadow: 0 0 1px rgba(17,47,66,1);
}

.search:hover::-webkit-input-placeholder {
  text-shadow: 0 0 1px rgba(55,30,64,1);
  color: rgba(18,235,200,1);
  opacity: 1;
}

/*********Meal time Styles*********/

.mealtimes-container {
  width: 24%;
  margin-right: 1%;
}

.mealtimes-wrapper li {
  display: block;
  height: 36px;
  width: 100%;
  margin: 3px 0;
}

.mealtimes-wrapper li label {
  /*padding-top: 6px;*/
  height: 100%;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  color: rgba(55,30,64,1);
  background: rgba(255,155,245,1);
  box-shadow: 0 0 1px rgba(196,17,86,.5);
  text-shadow: 0 0 1px white;
  -webkit-transition: background .5s, color .25s;
          transition: background .5s, color .25s;

}
.mealtimes-wrapper li:hover label {
  cursor: pointer;
  background: #F04593;
  box-shadow: 0 0 2px rgba(17,47,66,1);
  text-shadow: 0 0 1px rgba(55,30,64,1);
  color: rgba(18,235,200,1);
}

.mealtimes-wrapper li input[type=radio] {
  display: none;
}

/*******Region Styles*****/

.regions-container {
  width: 74%;
  margin-left: 1%;
}

.regions-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 36px;
  margin: 3px 0;
  border-radius: 3px;
  background: rgba(255,155,245,1);
  box-shadow: 0 0 1px rgba(196,17,86,.5);
  -webkit-transition: background .5s, text-shadow .25s;
          transition: background .5s, text-shadow .25s;
}

.regions-wrapper ol {
  margin: 0;
  padding: 0;
  height: 300px;
  overflow: scroll;
}

.regions-wrapper li {
  margin: 3px 0;
  padding-top: 6px;
  height: 32px;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  color: rgba(55,30,64,1);
  background: rgba(255,155,245,1);
  box-shadow: 0 0 1px rgba(196,17,86,.5);
  text-shadow: 0 0 1px white;
  -webkit-transition: background .5s, color .25s;
          transition: background .5s, color .25s;

}

.regions-wrapper li.init > ol {
  display: none;
}

.regions-wrapper li.init:active>ol{
  display: block;
  cursor: pointer;
  background: #F04593;
  box-shadow: 0 0 1px rgba(17,47,66,1);
  text-shadow: 0 0 rgba(18,235,200,1);
}
.each-region select:hover,
.each-region select:active {
  /*color: rgba(18,235,200,1);*/
}

.each-region select option {
  
}
.each-region select option:hover {
  cursor: pointer;
}

/*******Shared Meal and Region Styles********/

.mealtimes-container, .regions-container {
  position: relative;
  display: block;
  float: left;
  height: 36px;
  text-align: center;
}


.mealtimes-container>h1,
.regions-container>h1 {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 6px;
  font-size: 1rem;
  background: rgba(118,199,245,1);
  box-shadow: 0 0 2px rgba(17,47,66,1);
  text-shadow: 0 0 1px white;
  color: rgba(55,30,64,1);
  border-radius: 3px;
  -webkit-transition: background .5s, color .25s;
          transition: background .5s, color .25s;
}

.mealtimes-container>h1:hover,
.regions-container>h1:hover {
  cursor: pointer;
  background: #F04593;
  box-shadow: 0 0 2px rgba(17,47,66,1);
  text-shadow: 0 0 1px rgba(55,30,64,1);
  color: rgba(18,235,200,1);
}

.regions-wrapper,
.mealtimes-wrapper {
  z-index: 2;
  position: absolute;
  top: -1000px;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: bottom 0.5s linear;
          transition: bottom 0.5s linear;
}

/*******Show Hidden Meal and Region content*******/

.mealtimes-container:hover .mealtimes-wrapper,
.regions-container:hover .regions-wrapper {
  top: 32px;
}



input[type=submit] {
  width: 100%;
  height: 36px;
  display: block;
  float: right;
  margin-top: 24px;
  border-radius: 3px;
  background: #F04593;
  box-shadow: 0 0 1px rgba(17,47,66,1);
  text-shadow: 0 0 1px rgba(55,30,64,1);
  color: rgba(18,235,200,1);
  -webkit-transition: background .5s, color .25s;
          transition: background .5s, color .25s;
}
input[type=submit]:hover {
  background: rgba(118,199,245,1);
  color: rgba(55,30,64,1);
  text-shadow: 0 0 1px white;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .searchForm {
    width: 95%;
    padding-bottom: 12px;
  }
  .searchForm p {
    width: 90%;
  }

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
