
@import url("../styles/normalize.css");
@import url("../styles/default.css");

/*******************PAGE CONTENT ************************/

.title {
  width: 42%;
  border-radius: 0 54px 0 54px;
  margin: 18px auto 0;
  padding: 4px 36px 8px;
  text-align: center;
  background: rgba(54,82,82,.12);
  box-shadow: 0 0 3px rgba(105,62,57,.7), inset 0 0 4px silver, inset 0 0 8px rgba(68,219,199,.7);
  background: radial-gradient(circle, rgba(0,247,242,.05), rgba(0,247,242,.25));
}

h1,h2 {
  color: rgba(19,43,59,1);
  text-shadow: 0 0 1px rgba(217,247,252,1);

}

.quote {
  text-align: center;
}
blockquote {
  margin: 64px 0;
}
blockquote p {
  position: relative;
  line-height: 1.2em;
  font-size: 3em;
  color: rgba(51,57,74,1);
}
blockquote p:before,
blockquote p:after {
  font-size: 3em;
  line-height: 0;
  vertical-align: bottom;
  margin: 0;
  color: rgba(19,43,59,.9);
}
blockquote p:before {
  content: "“";
  margin-right: 6px;
}
blockquote p:after {
  content: "”";
  margin-left: 6px;
}
blockquote span {
  color: rgba(37,41,54,.7);
}
blockquote span:before {
  content: "⁓";
  margin-right: 4px;
  color: rgba(37,41,54,1);
}



/***************CONTENT MEDIA QUERIES*****************/

@media screen and (max-width: 400px) {
  .title {
    padding-left: 18px; ;
  }
  .title h1, .title h2 {
    display: inline-block;
    text-align: center;
  }
  .title h2 {
    font-size: 100%;
    line-height: 130%;
    margin-top: 0;
    padding-left: 10px;
  }
}
