@import url("../styles/normalize.css");
@import url("../styles/default.css");

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.products_page {
  position: relative;
  width: 100%;
  margin-top: 12px;
  background: linear-gradient(to top, rgba(252,252,255,.65),
    rgba(252,252,255,.85));
}

/********Products********/

.products {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: scroll;
  float: left;
  padding: 0 1% 4% 1%;
}

.products article {
  float: left;
  width: 100%;
  margin-bottom: 12px;
}

figure {
  margin: 0;
}

.products figure + p {
  display: inline-block;
  font-size: .85em;
  padding: 0 4px;
  /*color: pink;*/
}
img {
  width: 100%;
  display: block;
}
figcaption {
  font-size: 1em;
  margin-top: 3px;
}

span {
  display: block;
}

article p {
  display: block;
  height: 1rem;
  margin-bottom: 0
}

.price {
  float: left;
}
.stock {
  float: right;
  padding-right: 12px;
}

.bottom_bar {
  display: inline-block;
  width: 100%;
  height: 6px;
  margin: 12px 0 6px 0;
  background: linear-gradient(to right, rgba(54,64,63,.15), rgba(54,64,63,.54));
}


/********SHOPPING CART SIDE BAR********/

.basket_wrapper {
  position: absolute;
  top: -1.5px;
  right: 0;
}

.basket {
  width: 200px;
  position: fixed;
  margin-left: -200px;
  z-index: 2;
  color: rgba(45,60,69,.86);
  background: linear-gradient( to left ,
    rgba(165,222,255,1), rgba(165,222,255,.90));
  border-top: 1px solid rgba(45,60,69,.26);
  border-bottom: 1px solid rgba(45,60,69,.26);
  /*border-right: 1px solid rgba(45,60,69,.26);*/
}

.basket ol > li:first-child {
  padding-top: 8px;
}

.basket h3 {
  margin: 0;
  padding: 0;
  float: right;
  text-align: right;
  margin: 0;
  padding: 5px 4px 0 0;
}

.basket .purchase_number {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  float: left;
  background: rgba(45,60,69,.86);
  color: #fff;
  text-align: center;
  margin: 5px 0 0 6px;
  padding-top: -2px;
}

.basket .topbar {
  margin-bottom: 0;
}
.basket li ol {
  display: none;
  -webkit-transition: display 1s;
  transition: display 1s;
}

.basket .price,
.basket .remove,
.basket .total_price {
  padding-right: 2px;
}

.basket .product_caption {
  float: left;
  width: 56%;
  font-size: .9em;
}

.basket .price {
  float: right;
  width: 44%;
  text-align: right;
}

.basket .amount,
.basket .remove {
  height: 24px;
  margin-top: 6px;
}
.basket .amount,
.basket .update {
  float: left;
  width: 36px;
  max-width: 30%;
  text-align: center;
  border-style: none;
  background: rgba(165,222,255,1);
  color: rgba(45,60,69,.86);
  border-top: 1px solid rgba(45,60,69,.26);
  border-right: 1px solid rgba(45,60,69,.26);
  border-bottom: 1px solid rgba(45,60,69,.26);

  -webkit-transition: color .25s, background .75s;
  transition: color .25s, background .75s;
}

.basket .remove {
  float: right;
  width: 74px;
  padding: 0;
  padding-top: 2px;
  border-style: none;
  background: none;
  text-align: center;
  background: transparent;
  color: rgba(15,100,131,1);
  border: 1px solid transparent;
  -webkit-transition: background .75s, color .15s;
  transition: background .75s, color .15s;
}


.basket .product_caption,
.total_text {
  padding-left: 2px;
}
.basket .total  {

}

.basket .total_text {
  float: left;
  width: 30%;
}

.basket .total_price {
  float: right;
  width: 70%;
  text-align: right;
}

.basket > ol li ol li:last-child {
  width: 100%;
  padding-bottom: 10px;
}
.basket .update {
  width: 64px;
  margin-top: 4px;
  padding-top: 3px;

}
.basket a button {
  width: 96px;
  float: right;
  text-align: center;
  padding: 6px 0;
  font-size: 1.125em;
  background: transparent;
  color: rgba(10,70,97,1);
  border: 1px solid transparent;
  -webkit-transition: color .15s, background .5s,  border .75s;
  transition: color .15s, background .5s, border .75s;
}

/********HOVER STATES********/

.basket h3 {
  cursor: pointer;
}

.basket li:hover ol {
  display: block;
}

.basket .amount:focus {
  background: rgba(54,64,63,.34);
  color: rgba(165,222,255,1);
  border: 1px solid transparent;
}

.basket .update:hover,
.basket .update:active,
.basket .update:focus {
  cursor: pointer;
  background: rgba(54,64,63,.34);
  color: rgba(165,222,255,1);
  border: 1px solid transparent;
}

.basket .remove:hover,
.basket a button:hover,
.basket .remove:active,
.basket a button:active,
.basket .remove:focus,
.basket a button:focus {
  cursor: pointer;
  background: rgba(253,58,77,.65);
  color: #fff;
  border-top: 1px solid rgba(45,60,69,.26);
  border-left: 1px solid rgba(45,60,69,.26);
  border-bottom: 1px solid rgba(45,60,69,.26);
  text-shadow: 0 0 1px rgba(45,60,69,.86);
}

/********MEDIA QUERIES********/

@media screen and (min-width: 401px) {
  .products article {
    width: 49.25%;
  }
  .products article:nth-child(even) {
    margin-left: 0.75%;
  }
  .products article:nth-child(odd) {
    margin-right: 0.75%;
  }
}

@media screen and (min-width: 750px) {
  .products article {
    width: 32.5%;
  }

  .products article:nth-child(even) {
    margin-left: 0;
  }
  .products article:nth-child(odd) {
    margin-right: 0;
  }

  .products article:nth-child(3n+2) {
    margin-left: 1.25%;
    margin-right: 1.25%;
  }
}
