@import url("../../styles/normalize.css");
@import url("../../styles/default.css");
@import url("../form-home/form_home.css");

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
  display: none;
}

.shipping_form {
  width: 540px;
  min-width: 310px;
}
.shipping_form fieldset {
  background: rgba(204,197,195,1);
  width: 100%;
  border-radius: 3px;
  padding: 6px;
  box-shadow: 0 0 1px rgba(84,81,99,.35);
}
.shipping_form fieldset h1:first-child {
  font-size: 1.5em;
  text-align: left;
  padding-bottom: 12px;
  color: rgba(84,81,99,1);
}

.shipping_form fieldset.shipping {
  border-top: 1px solid rgba(84,81,99,.35);
  border-bottom: 1px solid rgba(84,81,99,.35);
  margin-top: 18px;
  padding-bottom: 18px;
}
.shipping_form fieldset.match {
  border-top: 1px solid rgba(84,81,99,.35);
  border-bottom: 1px solid rgba(84,81,99,.35);
  margin: 12px 0;
  padding: 12px 0;
}
.shipping_form fieldset.billing {
  border-top: 1px solid rgba(84,81,99,.35);
  border-bottom: 1px solid rgba(84,81,99,.35);
  margin-bottom: 18px;
  padding-top: 18px;
}

.match {
  position: relative;
}
.match span {
  position: absolute;
  left: -12px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  text-align: center;
  background: rgba(84,81,99,.25); 
  box-shadow: 0 0 1px rgba(84,81,99,1);
}
.match span::after {
  content: '✔';
  position: absolute;
  top: -1px;
  left: 2px;
  font-size: 1.25em;
  color: rgba(84,81,99,.85);
  text-shadow: 0 0 1px #fff;
  visibility: hidden;
}
.match input[type=checkbox] {
  opacity: 0;
}
.match label {
  position: relative;
  margin-left: 24px;
  color: rgba(84,81,99,1);
}
.shipping_form li {
  margin-bottom: 18px;
  padding: 0;
  display: inline-block;
  float: left;
}

li>label {
  margin-bottom: 6px;
  color: rgba(84,81,99,1);
}

input[type=text] {
  padding-left: 6px;
}
input[type=text], .selectStyles {
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  background: rgba(242,247,255,.90);
  box-shadow: 0 0 1px grey;
  border-radius: 3px;
}

.selectStyles select {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;

}
.selectStyles::after {
  content: '▼';
  position: absolute;
  top: 8px;
  right: 0;
  color: rgba(84,81,99,.5);
}
.country {
  width: 100%;
}
.firstname {
  width: 49%;
  margin-right: 1%;
}
.lastname {
  width: 49%;
  margin-left: 1%;
}
.street {
  width: 64%;
  margin-right: 1%;
}
.apt {
  width: 34%;
  margin-left: 1%;
}
.zip {
  width: 31%;
  margin-right: 1%;
}
.city {
  width: 31%;
  margin: 0 1%;
}
.state {
  width: 34%;
  margin-left: 1%;
}

.shipping_form fieldset.button {
  text-align: center;
  padding: 0;
  height: 32px;
}

.button button {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  border-radius: 3px;
  border: none;
  background: rgba(255,125,158, 1);
  color: rgba(84,81,99,1);
  font-size: 1.35em;
  text-shadow: 0 0 1px white;
  border-top: 1px solid rgba(84,81,99,.35);
  border-bottom: 1px solid rgba(84,81,99,.35);
  box-shadow: 0 0 1px rgba(84,81,99,.35);
  -webkit-transition: background .5s, color .25s;
        transition: background .5s, color .25s;
}

/********ACTIVE STATES********/

input[type=text]:focus,
input[type=checkbox]:focus + span,
select:focus {
  background: rgba(255,234,146,1);
  border: 0.5px solid rgba(232,164,114,.65);
}
input[type=checkbox]:checked + span::after {
  visibility: visible;
}

.selectStyles:hover {
  cursor: pointer;
}
.button button:hover,
.button button:focus {
  background: rgba(168,221,255,1);
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .shipping_form  {
    width: 95%;
  }
}
