@import url("../../styles/normalize.css");
@import url("../../styles/default.css");
@import url("../form-home/form_home.css");

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
   display: none;
}

.color-form {
  display: block;
  width: 100%;
  height: inherit;
}
.color-form form {
  display: block;
  width: 25%;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
  border-radius: 8px;

}
.color-form fieldset {
  width: 100%;
  margin: 12px 0;
  border-radius: 6px;
  /*background: rgba(188,188,204,1);*/
  box-shadow: inset 0 0 12px rgba(122,123,133,.45) ,0 0 1px rgba(122,123,133,1);
}

.color-display > .color-port {
  display: block;
  width: 98%;
  height: 200px;
  margin: 6px auto 0;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(122,123,133,1);
  background: #fff;
}

/********SLIDER STYLES********/

.slider-wrapper  .slider-border {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  margin: 20px auto;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 0 1px #fff;
  border: 1px solid rgba(162,163,176,1);
  background: rgba(162,163,176,.35);
}

.slider-border button {
  display: block;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 5%;
  height: 20.5px;
  text-align: center;
}

.slider-border button:hover {
  cursor: pointer;
  
}

.slider-border button:hover .material-icons {
  color: rgba(116,207,255,.85);
}
.slider-border button .material-icons {
  font-size: .7rem;
  width: 100%;
  color: rgba(122,123,133,1);
  text-shadow: 0 0 1px #fff;
  /*padding-right: 4px;*/
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  float: left;
  width: 90%;
  height: 20.5px;
  margin-top: -1px;
  border-radius: 8px;
  box-shadow: 0 0 1px #fff;
  border: 1px solid rgba(162,163,176,1);
}

input[type=range]:focus {
  -webkit-appearance: none;
  -moz-outline-style: none;
  outline: none;
  border: 1px solid rgba(0,255,230,1);
  box-shadow: inset 0 0 1px rgba(232,12,122,1);
  cursor: pointer;
}

input[type=range]:hover {
  cursor: pointer;
}


input[type=range].red {
  background: linear-gradient(to right, #fff,#ff0000);
}

input[type=range].green {
  background: linear-gradient(to right, #fff,#00ff00);
}

input[type=range].blue {
  background: linear-gradient(to right, #fff,#0000ff);
}

input[type=range].alpha {
  background: linear-gradient(to right, rgba(255,255,255,1),rgba(73,82,104,.5));
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

/********SLIDER TRACK STYLES********/

input[type=range]::-webkit-slider-runnable-track {
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(to top, rgba(255,255,255,.25),
    rgba(255,255,255,.45) 50%, rgba(255,255,255,.25));
}

input[type=range]::-moz-range-track {
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(to top, rgba(255,255,255,.25),
    rgba(255,255,255,.45) 50%, rgba(255,255,255,.25));
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(to top, rgba(255,255,255,.25),
    rgba(255,255,255,.45) 50%, rgba(255,255,255,.25));
}


/********SLIDER THUMB STYLES********/

input[type=range]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 9px solid transparent;
  border-top-color: rgba(116,207,255,.85);
  border-bottom-color: rgba(116,207,255,.85);
  border-right-color: rgba(204,17,102,.75);
  border-left-color: rgba(204,17,102,.75);
  background: none;
}

input[type=range]::-moz-range-thumb {
  position: relative;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-top-color: rgba(116,207,255,.85);
  border-bottom-color: rgba(116,207,255,.85);
  border-right-color: rgba(204,17,102,.75);
  border-left-color: rgba(204,17,102,.75);
  background: none;
}

input[type=range]::-ms-thumb {
  position: relative;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-top-color: rgba(116,207,255,.85);
  border-bottom-color: rgba(116,207,255,.85);
  border-right-color: rgba(204,17,102,.75);
  border-left-color: rgba(204,17,102,.75);
  background: none;
}

/********Displays the value of slider.********/

.range-value {
  position: absolute;
  top: -19px;
  left: 126px;
  width: 32px;
  line-height: .45em;
  height: 16px;
  padding-top: 4px;
  text-align: center;
  background: rgba(162,163,176,.45);
  text-shadow: 0 0 1px #fff;
  background: rgba(162,163,176,.35);
  color: rgba(122,123,133,1);
  border: 1px solid rgba(162,163,176,1);
}




