/********SIDEBAR ********/
.sidebar {
  position: relative;
  position: absolute;
  top: 80px;
  left: 0;
  width: 162px;
  text-align: center;
  border-radius: 4px;
  padding: 1px 8px 8px;
  box-shadow: 0 0 1px rgba(105,62,57,1);
  background: linear-gradient(to bottom, rgba(92,96,99,.85), rgba(92,96,99,.95));
  z-index: 12;
  transition: left .6s;
  @media screen and (max-width: 900px) {
    left: -135px;
  }
  button {
    position: absolute;
    top: -6px;
    right: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    &:before {
      content: '➲';
      font-size: 2em;
      color: rgba(248,219,60,.85);
    }
  }
  h3 {
    position: relative;
    border-bottom: 1px solid rgba(65,71,89,.2);
    font-size: 1.5em;
    line-height: 1.5;
    &:after {
      position: absolute;
      bottom: -3px;
      left: 0;
      content: '';
      width: 100%;
      border-bottom: 2px solid rgba(65,71,89,.6);
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: block;
      height: 36px;
      font-size: 1.1em;
      margin: 4px 0;
      a {
        display: block;
        height: 100%;
        padding: 8px 0;
        border-radius: 2px;
        background: lighten(rgba(110,112,171,1),8%);
        box-shadow: 0 0 1px rgba(61,48,78,1);
        font-family: 'Fjalla One', sans-serif;
        &:hover {
          position: relative;
          background: rgba(248,219,60,.45);
        }
      }
    }
  }
}




// Display image when hover state.

.sidebar li {
  > span {
    display: none;
    > li {
      width: 100%;
    }
    img {
      position: absolute;
      width: 100%;
      top: 25%;
      left: 124%;
    }
  }
  &:first-child > span img {
    top: 15%;
  }
  &:nth-child(4) > span img {
    top: 35%;
  }
  &:nth-child(5) > span img {
    top: 31%;
  }
  &:nth-child(6) > span img {
    top: 27%;
  }
  &:nth-child(7) > span img {
    top: 35%;
  }
  &:nth-child(8) > span img {
    top: 64%;
  }
  &:hover > span {
    display: block;
  }
}

@media screen and (min-width: 560px) {
  .sidebar li > span img {
    left: 150%;
    width: 125%;
  }

  .sidebar li:nth-child(5) > ol img {
    top: 24%;
  }
  .sidebar li:nth-child(6) > ol img {
    top: 12%;
  }
  .sidebar li:nth-child(7) > ol img {
    top: 22%;
  }
  .sidebar li:nth-child(8) > ol img {
    top: 60%;
  }
}