/********SIDEBAR ********/
.sidebar-page {
  margin: 0 auto 24px;
}

.figpreview-wrapper {
  position: relative;
  border: 1px solid yellow;
}
.sidebar {
  position: relative;
  position: absolute;
  top: 80px;
  left: 0;
  width: 162px;
  text-align: center;
  border-radius: 4px;
  padding: 1px 8px 8px;
  box-shadow: 0 0 1px rgba(105,62,57,1);
  background: linear-gradient(to bottom, rgba(92,96,99,.85), rgba(92,96,99,.95));
  z-index: 12;
}

.sidebar button {
  position: absolute;
  top: -6px;
  right: 0;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar button:before {
  content: '➲';
  font-size: 2em;
  color: rgba(248,219,60,.85);

}

.sidebar h3 {
  position: relative;
  border-bottom: 1px solid rgba(65,71,89,.2);
  font-size: 1.5em;
  line-height: 1.5;
}
.sidebar h3:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  border-bottom: 2px solid rgba(65,71,89,.6);
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  display: block;
  height: 36px;
  font-size: 1.1em;
  margin: 4px 0 ;
}

.sidebar ul li a {
  display: block;
  height: 100%;
  padding: 8px 0;
  border-radius: 2px;
  background: lighten(rgba(110,112,171,1),8%);
  box-shadow: 0 0 1px rgba(61,48,78,1);
  font-family: 'Fjalla One', sans-serif;
}

.sidebar ul li a:hover {
  position: relative;
  background: rgba(248,219,60,.45);
}
.sidebar ul li a:click {
  display: none;
}
.sidebar ul li a:hover:after {
  content: '';
  position: absolute; top: 10px; right: -84px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: rgba(248,219,60,.45);
  border-width: 8px 42px;
  display: block;
}

.sidebar li > span {
  display: none;
}

.sidebvar li > span > li {
  width: 100%;
}
.sidebar li > span img {
  position: absolute;
  width: 100%;
  top: 25%;
  left: 124%;
}

.sidebar li:first-child > span img {
  top: 15%;
}
.sidebar li:nth-child(4) > span img {
  top: 35%;
}
.sidebar li:nth-child(5) > span img {
  top: 31%;
}
.sidebar li:nth-child(6) > span img {
  top: 27%;
}
.sidebar li:nth-child(7) > span img {
  top: 35%;
}
.sidebar li:nth-child(8) > span img {
  top: 64%;
}

.sidebar li:hover > span {
  display: block;
}
@media screen and (min-width: 560px) {
  .sidebar li > span img {
    left: 150%;
    width: 125%;
  }

  .sidebar li:nth-child(5) > ol img {
    top: 24%;
  }
  .sidebar li:nth-child(6) > ol img {
    top: 12%;
  }
  .sidebar li:nth-child(7) > ol img {
    top: 22%;
  }
  .sidebar li:nth-child(8) > ol img {
    top: 60%;
  }
}