.signupForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(171,173,178,.25), rgba(171,173,178,.35));
  box-shadow: 0 0 1px yellow;
  fieldset {
    margin-top: 8px;
  }
  .input__outerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    .input__container {
      position: relative;
      flex: auto;
      .input__label {
        text-align: left;
        line-height: 2rem;
        padding-left: 4px;
        color: rgba(17,47,66,.7);
        text-shadow: 0 0 1px #fff;
      }
      .input__control {
        width: 100%;
        padding-left: 6px;
        font-size: 1.25rem;
        background: rgba(250,255,250,.85);
        color: rgba(17,47,66,.7);
        box-shadow: 0 0 1px rgba(17,47,66,.7);
        -webkit-transition: background .5s, color .25s;
                transition: background .5s, color .25s;
        &:hover,
        &:focus {
          background: rgba(201,255,255,.75);
          color: rgba(17,47,66,.65);
          text-shadow: 0 0 1px white;
          box-shadow: rgba(17,47,66,.7); 
        }
      }
      .input--sm {
        height: 28px;
      }
      .input--md {
        height: 36px;
      }
      .input--lg {
        height: 45px;
      }

    }
  }
  .signupBtn {
    margin: 18px 0 0;
    width: 100%;
    line-height: 1.5em;
    height: 2.625rem;
    font-size: 1.2em;
    padding: 2px 0;
    border: none;
    box-shadow: 0 0 2px rgba(232,227,131,1);
    background: rgba(17,47,66,.65);
    color: rgba(250,255,250,1);
    border-radius: 1px;
    -webkit-transition: background .5s, color .25s;
            transition: background .5s, color .25s;
    &:focus,
    &:hover {
      background: rgba(255,192,124,1);
      color: rgba(17,47,66,.65);
      cursor: pointer;
      box-shadow: 0 0 1px rgba(17,47,66,.7);  
    }
  }
  /*Adding invalid class*/

  .invalid {
    background: #CCFF99;
  }

  .valid::before  {
    font-family: 'Material Icons';
    content: 'check_circle';
    -webkit-font-feature-settings: 'liga';
    position: absolute;
    top: 2.54rem;
    right: 0.6em;
    color: #5DA8B8;
  }

  .error-icon::before {
    font-family: 'Material Icons';
    content: 'error';
    -webkit-font-feature-settings: 'liga';
    position: absolute;
    top: 2.54rem;
    right: 0.6rem;
    color: #FF6F84;
  }

  .error-banner {
    display: block;
    margin: 0 auto 24px ;
    padding-top: 12px;
    width: 100%;
    height: 48px;
    text-align:  center;
    background: #CCFF99;
    color: rgba(17,47,66,.7);
  }
}






