@import url("../../styles/normalize.css");
@import url("../../styles/default.css");
@import url("../form-home/form_home.css");

.sidebar {
  display: none;
}

.cc_form {
  width: 100%;
}
.cc_form form {
  width: 65%;
  margin: 0 auto;
  padding: 36px 12px 12px;
  min-width: 300px;
  background: rgba(23,43,85,.7);
  border-radius: 6px;
  border: 1px solid rgba(31,216,255,1);
}

.cc_form fieldset {
  margin: 0;
  padding: 0;
}
.cc_form fieldset p {
  display: inline-block;
  margin-top: 2px;
  float: right;
  color: rgba(255,248,224,.8);
  font-size: 1em;
}
.cc_form p:last-child:before {
  content: '●';
  position: relative;
  top: -1px;
  left: -2px;
  color: rgba(31,216,255,1);
}

.cc_form li {
  position: relative;
  display: block;
  float: left;
  margin-bottom: 3px;
}

.cc_form input,
.cc_form select {
  width: 100%;
  height: 48px;
  background: rgba(94,119,150,.85);
  border: 1px solid rgba(31,216,255,1);
  border-radius: 4px;
  padding: 2px 0 0 4px;
  font-size: 1.125em;
}

.cc_form input {
  color: rgba(0,35,64,.9);
}

.name li:first-child {
  width: 42.5%;
}
.name li:nth-child(2n) {
  width: 11%;
  margin: 0 2%;
}
.name li:nth-child(2n) input {
  padding-left: 0;
  text-align: center;
}
.name li:last-child {
  width: 42.5%;
}

.ccnumber li {
  width: 100%;
}
.ccnumber li:first-child  {
  width: 69%;
  margin-right: 1%;
}
.ccnumber li:last-child {
  width: 29%;
  margin-left: 1%;
}

.date li:first-child {
  width: 59%;
  margin-right: 1%;
}
.date li:last-child {
  width: 39%;
  margin-left: 1%;
}

.date select {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: transparent;
  text-shadow: 0  1px rgba(0,35,64,.15);
  color: rgba(0,35,64,.25);
}

.date select option {
  font-size: 1.25em;
  color: rgba(0,35,64,.9);
}

.cc_form button {
  width: 100%;
  height: 36px;
  margin-top: 12px;
  border-radius: 4px;
  border: 0;
  border: 1px solid rgba(31,216,255,1);
  background: rgba(255,125,202,.95);
  color: rgba(23,43,85,1);
  font-size: 1.35em;
  text-shadow: 0 0 1px white;
  -webkit-transition: background .5s, color .25s, font-size .25s;
          transition: background .5s, color .25s, font-size .25s;
}

/********focus, hover, & required states********/

.cc_form input:focus,
.cc_form select:focus,
.cc_form input:hover,
.cc_form select:hover {
  border: 1px solid rgba(255,125,202,.7);
  background: rgba(94,119,150,.60);
}

.cc_form select:hover {
  cursor: pointer;
}


/*.cc_form input:required,
.cc_form select:required {
  box-shadow: 0 0 2px rgba(40,238,164,1);
}*/
.cc_form button:focus,
.cc_form button:hover {
  cursor: pointer;
  font-size: 1.4em;
  background: rgba(31,216,255,1);
  color: white;
  text-shadow: 0 0 1px rgba(255,125,202,.95);
}

